<h1>About the NYPL Historical Menu Database</h1>

<h2>Open questions</h2>

<ul>

	<li>Best way to encourage proper entry of currency (cents/dollars)?</li>
	<li><span class="task_done">Better to have accurate data entry or consistent data entry? (cafe/café)</span> Accurate!</li>
	<li>Transcribe all text or just dishes?</li>
	<li>Who should import menus?</li>
	<li>What do we know about the locations?</li>
	<li>What information is required? Year? Location?</li>
	<li>What about currency ranges (sizes of portions)?</li>
	<li>Roll-up dishes into total view? Or per page?</li>
	<li class="task_done">"Items" or "Dishes"?</li>
	<li>Need to handle unknown years?</li>
	<li>Locations database?</li>
	<li>How can we make this reusable for the future?</li>
	<li>Partner with LA Public Library? Anyone else?</li>
	<li>Q's for Repository
		<ul>
			<li>Relationship between Physical Item IDs and Scan IDs?</li>
		</ul>
	</li>
	
</ul>

<h2>Roadmap/feature requests</h2>

<ul>

	<li>UNIT TESTS</li>
	<li>Proper nested resources</li>
	<li>Rails 3</li>
	<li>SQL optimization</li>
	<li class="task_done">Meaningful page titles</li>
	<li class="task_done">Get rid of blank item double-entry bug</li>
	<li>Non-imaged menus</li>
	<li>Admin interfaces for metadata/updates</li>
	<li>Integration with digitization on demand</li>
	<li>Pagination in all index views</li>
	<li>Repository integration (upload and download)</li>
	<li class="task_done">Roll-up item counts for menu view</li>
	<li class="task_done">Consistent thumbnail layout in menu view</li>
	<li>Multi-user editing (session lockout?)</li>
	<li>Size-neutral storage of image data (not pixel locations, but percentages)</li>
	<li>Auto-complete as you type for item entry</li>
	<li>Auto-complete as you type for locations (not dropdown)</li>
	<li class="task_done">Remove error message on new item submit</li>
	<li>Session-based redirects after adding related materials</li>
	<li class="task_done">Hide item markers</li>
	<li>Better highlighting (markers to menu)</li>
	<li class="task_done">Suppress sections when not needed</li>
	<li class="task_done">Approvals/locking completed menus</li>
	<li class="task_done">Graphically distinct edit mode</li>
	<li class="task_done">Date entry down to the day</li>
	<li>Currency before/after</li>
	<li>Zoomable menu images</li>
	<li>User-friendly menu ingest process. Workflow for locations, currency.</li>
	<li>Add DB sessions</li>
	<li>Logins</li>
	<li>Sort menus by date, latest entered, location.</li>
	<li>User activity logging</li>
	<li>Get simple search working</li>
	<li>Solr search</li>
	<li>Search by position on page</li>
	<li>Multiple language support</li>
	<li>Synonyms/related items</li>
	<li>Multiple currency support</li>
	<li>Price range per item</li>
	<li>Contextual help (what to do next)</li>
	<li>Help tip of the day</li>
	<li>Tutorials</li>
	<li>Consistent location data (state list, country list), historically accurate.</li>
	<li>Google Maps/Open Street Map for locations</li>
	<li>Normalized prices</li>
	<li>Rating menu "difficulty" - easy/med/hard?</li>
	<li>Tagging</li>
	<li>Comments</li>
	<li>Favorites</li>
	<li>Modal dialogs (Thickbox/probox, maybe)</li>
	<li>Abstract tool to other crowdsourcing initiatives?</li>
	<li>Reminder when your questionables are resolved</li>
	<li>Research tools: links to NYPL catalog, <span class="task_done">Google</span>, <span class="task_done">Wikipedia</span>, Open Street Map, <span class="task_done">Digital Gallery</span>, <span class="task_done">recipe databases</span>, google books, <span class="task_done">hathi trust</span>...</li>

</ul>

<h2>Reports and visualizations</h2>

<ul>

	<li>Items stats live</li>
	<li>Top items by location</li>
	<li>Top items by decade</li>
	<li>Top items by category</li>
	<li>Timeline</li>
	<li>Stats on top users and your use</li>

</ul>